{% extends "base.html" %}
{% block title %}
    <title>Show</title>
{% endblock %}
{% block content %}
<div>
    <form>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th> EID </th>
                <th> NAME </th>
                <th> CITY </th>
                <th> AGE </th>
                <th> DOB </th>
                <th> ABOUT </th>
            </tr>
            </thead>
            <tbody>
            {% for employee in obj %}
            <tr>
                <td>{{employee.pid}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.city}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.dob}}</td>
                <td>
                    <a href="/a1/uv/{{employee.eid}}"><button type="button" class="btn btn-success" >Update</button></a>
                    <a href="/a1/dv/{{employee.eid}}"><button type="button" class="btn btn-warning" >Delete</button></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock%}
